security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: e01_login
                check_path: e01_login
                enable_csrf: true
                default_target_path: e01_home
            logout:
                path: e01_logout
                target: e01_home

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/registration, roles: PUBLIC_ACCESS }
        - { path: ^/home, roles: PUBLIC_ACCESS }